<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.purplechat.mappers.ChatSessionUserMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.purplechat.entity.po.ChatSessionUser">
		<!--用户ID-->
		<result column="user_id" property="userId"/>
		<!--联系人ID-->
		<result column="contact_id" property="contactId"/>
		<!--会话ID-->
		<result column="session_id" property="sessionId"/>
		<!--联系人名称-->
		<result column="contact_name" property="contactName"/>
	</resultMap>

	<!--通用查询结果列-->
	<sql id="base_column_list">
		user_id,contact_id,session_id,contact_name
	</sql>

	<!--基础条件查询-->
	<sql id="base_query_condition">
		<if test="query.userId != null and query.userId != ''">
			and user_id = #{query.userId}
		</if>
		<if test="query.contactId != null and query.contactId != ''">
			and contact_id = #{query.contactId}
		</if>
		<if test="query.sessionId != null and query.sessionId != ''">
			and session_id = #{query.sessionId}
		</if>
		<if test="query.contactName != null and query.contactName != ''">
			and contact_name = #{query.contactName}
		</if>
	</sql>
	<!--拓展的查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.userIdFuzzy != null  and query.userIdFuzzy != ''">
			and user_id like concat('%', #{query.userIdFuzzy}, '%')
		</if>
		<if test="query.contactIdFuzzy != null  and query.contactIdFuzzy != ''">
			and contact_id like concat('%', #{query.contactIdFuzzy}, '%')
		</if>
		<if test="query.sessionIdFuzzy != null  and query.sessionIdFuzzy != ''">
			and session_id like concat('%', #{query.sessionIdFuzzy}, '%')
		</if>
		<if test="query.contactNameFuzzy != null  and query.contactNameFuzzy != ''">
			and contact_name like concat('%', #{query.contactNameFuzzy}, '%')
		</if>
	</sql>

	<!--拓展的查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		u.*,
		c.last_message lastMessage,
		c.last_receive_time lastReceiveTime,
-- 		如果是群组 还有查询群组当前总人数 并放置在群聊名称后‘
		case when SUBSTRING(u.contact_id,1,1) = 'G' then
		(select count(1) from user_contact uc where uc.contact_id = u.contact_id)
		else 0
		end as memberCount


		FROM chat_session_user u inner join chat_session c
		on u.session_id = c.session_id

		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.orderBy}
		</if>
		<if test="query.SimplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM chat_session_user
		<include refid="query_condition"/>
	</select>

	<!--插入 （匹配有效的字段）-->
	<insert id="insert" parameterType="com.purplechat.entity.po.ChatSessionUser">
		INSERT INTO chat_session_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.contactId != null">
				contact_id,
			</if>
			<if test="bean.sessionId != null">
				session_id,
			</if>
			<if test="bean.contactName != null">
				contact_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.contactId != null">
				#{bean.contactId},
			</if>
			<if test="bean.sessionId != null">
				#{bean.sessionId},
			</if>
			<if test="bean.contactName != null">
				#{bean.contactName},
			</if>
		</trim>
	</insert>

	<!--插入或者更新 （匹配有效的字段）-->
	<insert id="insertOrUpdate" parameterType="com.purplechat.entity.po.ChatSessionUser">
		INSERT INTO chat_session_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.contactId != null">
				contact_id,
			</if>
			<if test="bean.sessionId != null">
				session_id,
			</if>
			<if test="bean.contactName != null">
				contact_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.contactId != null">
				#{bean.contactId},
			</if>
			<if test="bean.sessionId != null">
				#{bean.sessionId},
			</if>
			<if test="bean.contactName != null">
				#{bean.contactName},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id = VALUES(user_id),
			</if>
			<if test="bean.contactId != null">
				contact_id = VALUES(contact_id),
			</if>
			<if test="bean.sessionId != null">
				session_id = VALUES(session_id),
			</if>
			<if test="bean.contactName != null">
				contact_name = VALUES(contact_name),
			</if>
		</trim>
	</insert>

	<!--添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.purplechat.entity.po.ChatSessionUser">
		INSERT INTO chat_session_user (user_id, contact_id, session_id, contact_name)VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.userId}, #{item.contactId}, #{item.sessionId}, #{item.contactName})
		</foreach>
	</insert>

	<!--批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.purplechat.entity.po.ChatSessionUser">
		INSERT INTO chat_session_user (user_id, contact_id, session_id, contact_name)VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.userId}, #{item.contactId}, #{item.sessionId}, #{item.contactName})
		</foreach>
		on DUPLICATE key update
		user_id = VALUES(user_id),
		contact_id = VALUES(contact_id),
		session_id = VALUES(session_id),
		contact_name = VALUES(contact_name)
	</insert>

	<!--根据UserIdAndContactId查询-->
	<select id="selectByUserIdAndContactId" resultMap="base_result_map">
		select <include refid="base_column_list"/>  from chat_session_user where user_id=#{userId} and contact_id=#{contactId}
	</select>

	<!--根据UserIdAndContactId更新-->
	<update id="updateByUserIdAndContactId" parameterType="com.purplechat.entity.po.ChatSessionUser">
		UPDATE chat_session_user
		<set>
		<if test="bean.userId != null">
			user_id = #{bean.userId},
		</if>
		<if test="bean.contactId != null">
			contact_id = #{bean.contactId},
		</if>
		<if test="bean.sessionId != null">
			session_id = #{bean.sessionId},
		</if>
		<if test="bean.contactName != null">
			contact_name = #{bean.contactName},
		</if>
		</set>
		where user_id=#{userId} and contact_id=#{contactId}
	</update>

	<!--根据UserIdAndContactId删除-->
	<delete id="deleteByUserIdAndContactId">
		delete from chat_session_user where user_id=#{userId} and contact_id=#{contactId}
	</delete>


	<update id="updateByParam" parameterType="map">
		UPDATE chat_session_user
		<set>
			<!-- 设置需要更新的字段 -->
			<if test="bean.userId != null">user_id = #{bean.userId},</if>
			<if test="bean.contactId != null">contact_id = #{bean.contactId},</if>
			<if test="bean.sessionId != null">session_id = #{bean.sessionId},</if>
			<if test="bean.contactName != null">contact_name = #{bean.contactName},</if>
		</set>
		<include refid="query_condition"/>
	</update>


</mapper>
